%h1 Notes by email

%p
  You will get an email address where you can send notes, which are
  stored to ~/Dropbox/Apps/notes-by-email/notes.org file.

%p
  At the moment only Emacs org-mode format is supported.

%p
  If the first line of the email is an url, the the format of the
  note will be:
%pre
  ~ "\n* [[url][email subject]]\nrest of the email body\n"
%p
  Otherwise the format will be:
%pre
  ~ "\n* email subject\nemail body\n"

%a{:href => "https://github.com/milep/notes-by-email"}
  %img{:style => "z-index:9999; position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
